.errortext {
    margin: 24px auto;
    font-size: xx-large;
    color: gray;
}

.playlist {
    margin: 16px 0;
    height: 400px;
    width: 600px;
    background-color: #c6c6cc;
    border-radius: 10px;
}

.playlist-item {
    margin: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}